.roundAbout {
  @include flex-box;
  width: 100vw;
}
.about {
  h2 {
    margin: 2rem;
  }
  @include flex-column;
  width: 40vw;
  p {
    text-align: center;
    line-height: 1.6rem;
  }
  h4 {
    margin-top: 4rem;
  }
  a {
    color: black;
    text-decoration: underline;
  }
}

@media (max-width: 414px) {
  .about {
    width: 80vw;
  }
}
