.about {
  //   border: 2px violet dotted;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  //   align-items: center;
  width: 93%;
  height: 70%;
  padding-bottom: 30%;
}
