.categories {
  margin: 5% auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // height: 90%;
  width: 80vw;
}
.meat {
  @include flex-box;

  flex-direction: column;
  width: 22rem;
  height: 17rem;
}
#meat_img {
  width: 110%;
}
.vegetarian {
  @include flex-box;

  flex-direction: column;
  width: 22rem;
  height: 17rem;
}
#vegetarian_img {
  width: 110%;
}
.vegan {
  @include flex-box;

  flex-direction: column;
  width: 22rem;
  height: 17rem;
}
#vegan_img {
  width: 110%;
}
a {
  color: black;
}
@media screen and (max-width: 1024px) {
  .categories {
    display: flex;

    flex-direction: column;
  }
  .meat {
    @include flex-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #meat_img {
    height: 86%;
    width: 75%;
  }
  .vegetarian {
    @include flex-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #vegetarian_img {
    height: 86%;
    width: 75%;
  }
  .vegan {
    @include flex-box;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  #vegan_img {
    height: 86%;
    width: 75%;
  }
}
