.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .container {
    @include flex-box;
    width: 80vw;
    // height: 62vh;

    .dishes {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      .li-design {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 20rem;
        width: 25rem;
        padding: 20px;
        overflow: hidden;
        img {
          height: 10rem;
          width: 12rem;
          border-radius: 5px;
        }
        li {
          text-align: center;
          // overflow: hidden;
          word-wrap: break-word;
        }
        .btn {
          height: 2rem;
          width: 8rem;
          background-color: $onn2;
          border-radius: 10px;
          text-decoration: none;
          font-size: 15px;
          color: white;
          padding: 5px;
        }
      }
    }
  }
}
