.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .container {
    @include flex-box;
    width: 80vw;


    .dishes {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      .li-design {
        display: flex;
        align-items: center;
        flex-direction: column;

        width: 25rem;
       

        img {
          width: 12rem;
       
        }
        li {
          text-align: center;
        
          word-wrap: break-word;
        }
   
        .btn {
          margin: 1rem;
          padding: 0.5rem;
          a {
            color: black;
          }
          border-radius: 0.5rem;
          background-color: $onn2;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
