.main {
  @include flex-column;
}
.container {
  @include flex-row;
  width: 100vw;
  h2 {
    height: 15vh;
  }
}
.mobileArrows {
  display: none;
}

.singleRecipe {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
i {
  justify-self: center;
  font-size: 8rem;
  color: $onn2;
  width: 5vw;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 500px) {
  .main {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.8rem;
      height: auto;
    }
  }
  .mobileArrows {
    display: inline;
    .mobilePrev,
    .mobileNext {
      cursor: pointer;
    }
  }
  .container {
    @include flex-column;
    width: 100vw;
    .prev,
    .next {
      display: none;
    }
  }
  .singleRecipe {
    width: 100vw;
    @include flex-column;
    img {
      width: 80vw;
      margin-bottom: 1rem;
    }
  }
}
