.main {
  @include flex-column;
}
.container {
  @include flex-row;
  width: 80vw;
  border: salmon dotted 2px;
}
.singleRecipe {
  @include flex-row;
  border: olive dotted 2px;
}
i {
  justify-self: center;
  font-size: 5rem;
  color: $onn2;
  width: 5vw;
  text-align: center;
}
