.main {
  @include flex-column;
}
.container {
  @include flex-row;
  width: 80vw;
}
.singleRecipe {
  display: flex;
  justify-content: space-between;
}
i {
  justify-self: center;
  font-size: 8rem;
  color: $onn2;
  width: 5vw;
  text-align: center;
}
