header {
  @include flex-box;
}
.navBar__container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  // background-color: $onn2;
  border-bottom: 0.1rem solid $onn2;
  nav {
    // border: 2px tan dotted;
    display: flex;
    justify-content: space-around;
    width: 35rem;
    padding-right: 8rem;
  }
  li {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    color: black;
    &:hover {
      color: $onn2;
    }
  }
  .navLogo {
    // border: 2px teal dotted;
    // width: 8rem;
    padding-left: 8rem;
    // height: 9rem;
  }
}
#logoImg {
  width: 8rem;
}
.MobileNavigation {
  display: none;
}

@media (max-width: 414px) {
  header {
    width: 100vw;
    .navBar__container {
      @include flex-box;
    }
  }
  .navBar {
    display: none;
  }
}
