* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navContainer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  hr {
    height: 1px;
    background-color: $onn2;
    border: none;
    width: 70vw;
  }
  .NavBar {
    background-color: white;
    width: 80vw;
    height: 70px;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    overflow: hidden;

    .logo {
      margin-right: 33rem;
      margin-bottom: 20px;
      vertical-align: middle;
      img {
        height: 13rem;
        width: 12rem;
        margin-top: 50px;
      }
    }
    nav {
      ul {
        font-size: 13px;
        width: 30rem;
        text-decoration: none;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;

        font-weight: bold;
        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: black;
            &:hover {
              border-bottom: 1px white solid;
            }
          }
        }
      }
    }

    .MobileNavigation {
      display: none;
    }
  }
}
// ipad
@media (max-width: 768px) {
  .navContainer {
    .NavBar {
      opacity: 1;
      z-index: 1;
      .logo {
        margin-right: 20rem;
        margin-top: 1.1rem;
        padding: 0;
      }

      .Navigation {
        display: none;
      }
      .MobileNavigation {
        display: flex;
        align-items: center;
      }
      .Humberger {
        color: black;
        position: absolute;
        right: 5%;
        top: 4%;
        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
      }
      nav {
        ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 80px;
          right: 0px;
          width: 100%;
          height: 8rem;
          background-color: $onn2;
          border-top: 2px solid $onn2;
          margin-right: 0;
          padding: 0;
          li {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
// mobile view

@media (max-width: 414px) {
  .navContainer {
    .NavBar {
      opacity: 1;
      z-index: 999;
      .logo {
        margin-right: 9rem;

        img {
          margin-top: 15px;
          height: 9rem;
          width: 8rem;
        }
      }
      .Navigation {
        display: none;
      }
      .MobileNavigation {
        display: flex;
        align-items: center;
      }
      .Humberger {
        position: absolute;
        right: 5%;
        cursor: pointer;
      }
      nav {
        ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 80px;
          right: 0px;
          width: 100%;
          background-color: $onn2;
          border-top: 2px solid $onn2;
          margin-right: 0;
          padding: 0;

          li {
            padding-left: 20px;
          }
        }
      }
    }
  }
}
