.container {
  @include flex-box;
}

.recipe-container {
  @include flex-column;

  // display: grid;
  // grid-template-columns: 10vw 1fr 1fr 1fr 10vw;

  justify-content: space-around;
  .design-span {
    font-weight: bold;
  }
  ul {
    list-style-type: none;
  }
}

.recipe {
  @include flex-box;
  border: solid 2px black;
}
