.searchResult {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  width: 20vw;
  margin: 2rem;
}

a {
  text-decoration: none;
}

// @media (max-width: 414px) {
//   .searchResult {
//     @include flex-column; // display: flex;
//     // justify-content: center;
//     // align-content: flex-start;
//     width: 100vw;
//     margin: 2rem;
//   }
// }
