// @font-face {
//     font-family: "";
//     src: url("");
// }

@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/openSans-font/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Mistrully";
  src: url("../../fonts/mistrully-font/Mistrully.ttf");
}
